@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poetsen+One&display=swap");

@import "tailwindcss";

:root {
  --custom-font-sm: 16px;
}
body {
  font-family: "Inter", "Inter Placeholder", sans-serif;
  background-color: #070806;
  overflow-x: hidden;
}
.w-container {
  max-width: 1660px;
}
.bg-color {
  backdrop-filter: blur(10px);
  background-color: rgba(7, 8, 6, 0.6);
}
.header_section img {
  width: 170px;
}
.navbar_link a {
  font-size: var(--custom-font-sm);
}

.navbar_link p,
li {
  font-size: var(--custom-font-sm);
}
.btn {
  justify-content: center;
  overflow: visible;
  padding: 10px 24px;
  position: relative;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 600;
}
.btn.btn-second {
  border: none;
  color: #231f20;
}
.hero-section {
  padding-top: clamp(60px, 8vw, 100px);
  /* padding-bottom: clamp(60px, 8vw, 100px); */
  transition: all 0.9s;
  background-image: url(/pkVckAy4hre6SOgAjgjXMYt9vc0.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.hero-section h1 {
  font-size: clamp(2.25rem, 5vw + 1rem, 60px)  !important;
  color: #48e0d3;
  font-weight: 600;
  line-height: clamp(3.25rem, 5vw + 1rem, 75px) !important;
}
.hero-section p {
  color: #c6c7c6;
  font-weight: 400;
  line-height: 25px;
  font-size: var(--custom-font-sm);
}
.privateAnonymous h2,
.sMSVerificationReady h2,
.instantAccess h2,
.howWorks h2,
.contact h2 {
  font-size: clamp(2.25rem, 5vw + 1rem, 60px);
  line-height: clamp(3.25rem, 5vw + 1rem, 75px);
}
.howWorks p {
  font-size: var(--custom-font-sm);
  padding: 0px 60px 0px 0px;
  line-height: 29px;
}
.contact p,
.frequently-faq p,
.burnerPhoneNumberEmailPlans p {
  font-size: var(--custom-font-sm);
  line-height: 29px;
}
.span_month h2 span {
  font-size: 12px;
}
.policy_contact p {
  font-size: 18px;
  margin: 18px 0px;
}
.policy_contact h4 {
  font-size: 20px;
  margin: 18px 0px;
  font-weight: bold;
}
.card-affter {
  position: relative;
  background: #0d0d0d;
  border-radius: 16px;
  color: white;
  overflow: hidden;
}

.card-affter::before {
  content: "";
  position: absolute;
  top: -70px;
  left: 10%;
  width: 80%;
  height: 76px;
  background: linear-gradient(180deg, #a0e00d00, #a0e00d);
  border-radius: 100%;
  filter: blur(45px);
}
.card-affter::after {
  content: "";
  position: absolute;
  bottom: -70px;
  left: 10%;
  width: 80%;
  height: 76px;
  background: linear-gradient(0deg, #a0e00d00, #a0e00d);
  border-radius: 100%;
  filter: blur(45px);
}
.card-affter .left-glow {
  position: absolute;
  top: 10%;
  left: -50px;
  width: 76px;
  height: 80%;
  background: linear-gradient(90deg, #a0e00d00, #a0e00d);
  border-radius: 100%;
  filter: blur(45px);
}
.card-affter .right-glow {
  position: absolute;
  top: 10%;
  right: -50px;
  width: 76px;
  height: 80%;
  background: linear-gradient(-90deg, #a0e00d00, #a0e00d);
  border-radius: 100%;
  filter: blur(45px);
}

.text-sm {
  font-size: 16px !important;
  line-height: 26px !important;
}
.copy_right {
  display: block;
  position: absolute;
  bottom: -20px;
  right: 25%;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-down {
  animation: slideDown 0.3s ease-out forwards;
}
@media (max-width: 767px) {
  .image_responsive_mobeile_viwe_full img {
    width: 100%;
    height: auto;
  }
  .copy_right {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .howWorks p {
    padding: 0px 0px 0px 0px;
  }
  .footer_link_mobile a {
    margin: 40px 0px;
  }
}

.select-menu .select-btn {
  display: flex;
  height: 55px;
  background: #000;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 30px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #ccc;
}
.select-menu .options {
  position: absolute;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #1a1a1a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}
.select-menu .options .option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
}
.select-menu .options .option:hover {
    background: #00d5be;
    color: #000;
}
.select-menu .options .option i {
  font-size: 20px;
  margin-right: 12px;
}
.select-menu .options .option .option-text {
  font-size: 18px;
  color: #fff;
}
.select-menu .options .option .option-text:hover {
  color: #000;
}

.select-btn i {
  font-size: 25px;
  transition: 0.3s;
}

.select-menu.active .select-btn i {
  transform: rotate(-180deg);
}
.select-menu.active .options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}